
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects | SA</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <h1 style="background-color: rgb(245, 5, 5); text-align: center; padding: 40px 0; font-size: 3em;">DELIVERY TIME PREDICTION</h1>
    <div
      class="flex max-w-[1500px] w-[100%] justify-center m-auto h-[100vh]"
      name="success-analytics"
    >
      <!-- Logos -->

      <img
        src="https://successanalytics.in/logo.ab81d45e.png"
        alt="Logo"
        class="fixed top-0 left-0 w-[50px] opacity-0 hover:opacity-100"
        name="success-analytics"
      />
      <img
        src="https://successanalytics.in/logo.ab81d45e.png"
        alt="Logo"
        class="fixed bottom-0 left-0 w-[50px] opacity-0 hover:opacity-100"
        name="success-analytics"
      />
      <img
        src="https://successanalytics.in/logo.ab81d45e.png"
        alt="Logo"
        class="fixed top-0 right-0 w-[50px] opacity-0 hover:opacity-100"
        name="success-analytics"
      />
      <img
        src="https://successanalytics.in/logo.ab81d45e.png"
        alt="Logo"
        class="fixed bottom-0 right-0 w-[50px] opacity-0 hover:opacity-100"
        name="success-analytics"
      />

      <!-- Logos -->

      <!-- Hero Section Starts -->

      <section
        class="grid sm:grid-cols-3 gap-3 min-w-[100%]"
        name="success-analytics"
      >
          <div class="flex justify-center items-center" name="success-analytics">
            <div name="success-analytics">
                <div class="rounded-md border" name="success-analytics">
                    <img
                        src="https://c8.alamy.com/comp/HH538W/training-icon-design-HH538W.jpg"
                        alt="Laptop"
                        class="h-[300px] w-full rounded-md object-cover"
                        name="success-analytics"
                        width="1000" height="1000"
                    />
                    <div class="px-2" name="success-analytics">
                        <button
                            type="button"
                            class="my-2 w-full rounded-sm bg-black px-2.5 py-1 text-[25px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                            name="success-analytics"
                        >
                            <a href="/train">Train Pipeline</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center" name="success-analytics">
          <div name="success-analytics">
            <div class="rounded-md border" name="success-analytics">
              <img
                src="https://cdn2.vectorstock.com/i/1000x1000/92/01/predictive-analytics-icon-colored-simple-elements-vector-28069201.jpg"
                alt="Laptop"
                class="h-[300px] w-full rounded-md object-cover"
                name="success-analytics"
                width="1000" height="1000"
              />
              <div class="px-2" name="success-analytics">
                <button
                  type="button"
                  class="my-2 w-full rounded-sm bg-black px-2.5 py-1 text-[25px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                  name="success-analytics"
                >
                  <a href="/predict">Single Prediction</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center items-center" name="success-analytics">
          <div name="success-analytics">
            <div class="rounded-md border" name="success-analytics">
              <img
                src="https://cdn-icons-png.flaticon.com/512/2103/2103652.png "
                alt="Laptop"
                class="h-[300px] w-full rounded-md object-cover"
                name="success-analytics"
                width="1000" height="1000"
              />
              <div class="px-2" name="success-analytics">
                <button
                  type="button"
                  class="my-2 w-full rounded-sm bg-black px-2.5 py-1 text-[25px] font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                  name="success-analytics"
                >
                  <a href="/batch">Batch Prediction</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        
      </section>

      <!-- Hero Section Ends -->
    </div>
  </body>
</html>


<!